################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExtractTextFromBlobProjections/ExtractTextFromBlobProjections/bin
/ExtractTextFromBlobProjections/ExtractTextFromBlobProjections/obj
